/* queued */
.status2, .statusQ {
	margin: auto;
	padding: auto;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #9F9F9F;

}

/* running */
.status3 {
	margin: auto;
	padding: auto;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #FAA226;

	/* Chrome, Safari, Opera */
	-webkit-animation: status_3 1s;
	-webkit-animation-iteration-count: infinite;

    animation: status_3 1s;
    animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes status_3 {
    0% {background: rgba(250,162,38, 0);}
    50% {background: #FAA226;}
    100% {background: rgba(250,162,38, 0);}
}

/* Standard syntax */
@keyframes status_3 {
    0% {background: rgba(250,162,38, 0);}
    50% {background: #FAA226;}
    100% {background: rgba(250,162,38, 0);}
}

/* success */
.status4, .statusS {
	margin: auto;
	padding: auto;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #59B329;

}

/* failed */
.status5, .statusF {
	margin: auto;
	padding: auto;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #FD3C31;
}
