<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.tutorialspoint.onlineviewer"
        version   = "1.0">

    <name>Build Tool</name>

    <description>
        Build Tool Mobile
    </description>

    <author href="" email="gtech.waterloo@gmail.com">
        james.zhou
    </author>

    <preference name="permissions" value="none"/>
<!--
    <feature name="Geolocation">
        <param name="android-package" value="org.apache.cordova.geolocation.GeoBroker" />
    </feature>
-->
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
<!--
    <feature name="http://api.phonegap.com/3.0/camera"/>
    <feature name="http://api.phonegap.com/3.0/contacts"/>
    <feature name="http://api.phonegap.com/3.0/file"/>
    <feature name="http://api.phonegap.com/2.0/geolocation"/>
    <feature name="http://api.phonegap.com/3.0/media"/>
    <feature name="http://api.phonegap.com/3.0/network"/>
    <feature name="http://api.phonegap.com/3.0/notification"/>
    <feature name="http://api.phonegap.com/3.0/accelerometer"/>
-->

</widget>
