<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.tutorialspoint.onlineviewer"
        version   = "1.0">

    <name>Build Tool</name>

    <description>
        Build Tool Mobile

        http://coenraets.org/blog/phonegap-tutorial/
    </description>

    <author href="" email="gtech.waterloo@gmail.com">
        james.zhou
    </author>

    <preference name="permissions" value="none"/>

    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>

    <plugin name="Accelerometer" value="org.apache.cordova.AccelListener" />
    <plugin name="Camera" value="org.apache.cordova.CameraLauncher" />

    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />

</widget>
