<div class="content">
    <table>
        <tr>
            <td>
                <a href="#/lab/geoLocation" class="btn btn-default" style="width:120px">
                    <div><i style="font-size:4em;" class="fa fa-map-marker"></i></div>
                    Geo Location
                </a>
            </td>
            <td>
                <a href="#/lab/accelerometer" class="btn btn-default" style="width:120px">
                    <div>
                        <span style="font-size:2em;" class="fa-stack fa-lg">
                            <i class="fa fa-refresh fa-stack-2x"></i>
                            <i class="fa fa-mobile fa-stack-1x"></i>
                        </span>
                    </div>
                    Accelerometer
                </a>
            </td>
            <td>
                <a href="#/lab/camera" class="btn btn-default" style="width:120px">
                    <div><i style="font-size:4em;" class="fa fa-camera"></i></div>
                    Camera
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#/lab/battery" class="btn btn-default" style="width:120px">
                    <div>
                        <span style="font-size:2em;" class="fa-stack fa-lg">
                            <i class="fa fa-mobile fa-stack-2x"></i>
                            <i class="fa fa-flash fa-stack-1x"></i>
                        </span>
                    </div>
                    Battery
                </a>
            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>

    </table>

</div>
