<div class="content">
    <table>
        <tr>
            <td>
                <a href="#/lab/geoLocation" class="btn btn-default">
                    <div style="width:50px; height:50px"><i style="font-size:4em;" class="fa fa-map-marker"></i></div>
                    Geo Location
                </a>
            </td>
            <td>
                <a href="#/lab/accelerometer" class="btn btn-default">
                    <div style="width:50px; height:50px"><i style="font-size:4em;" class="fa fa-map-marker"></i></div>
                    Accelerometer
                </a>
            </td>
            <td></td>
        </tr>
    </table>

</div>
