<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.tutorialspoint.onlineviewer"
        version   = "1.0">

    <name>Build Tool</name>

    <description>
        Build Tool Mobile
        http://www.tutorialspoint.com/phonegap/phonegap_overview.htm
    </description>

    <author href="" email="gtech.waterloo@gmail.com">
        james.zhou
    </author>

    <preference name="permissions" value="none"/>
</widget>
